.header, .container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  max-width: var(--max-width);
  padding: 13px;
  background: #000;
  z-index: 3;
}

.navigation {
  width: 30px;
  height: 30px;
}

.button {
  width: 100%;
  padding: 3px;
  background: transparent;
  border: 1px solid var(--yellow);
  font-size: inherit;
  color: inherit;
  text-align: center;
}

.link {
  width: 100%;
  text-align: center;
}