.container {
  border: 1px solid;
  margin-top: 40px;
}

.brows .lips .eyelashes {
  border-color: green;
}

.figure {
  
}

.heading {
  background: #000;
  padding: 6px;
  text-align: center;
  box-shadow: inset 0px 0px 9px 1px #ffffff;
}

.description {
  border-top: 1px solid #fff;
  padding: 10px;
}