@use '@/styles/_variables';

.container {
  border: 1px solid;
  box-sizing: content-box;
  position: relative;

  &:hover .description {
    opacity: 1;
    visibility: visible;
  }
}

.figure {
  @include variables.mobile {
    pointer-events: none;
  }
}

.heading {
  background: #000;
  padding: 6px;
  text-align: center;
  box-shadow: inset 0px 0px 9px 1px #ffffff;
}

.categories {
  background: var(--black);
  padding: 10px;

  @include variables.desktop {
    display: none;
  }
}

.description {
  border-top: 1px solid #fff;
  background: var(--black);
  padding: 10px;

  @include variables.desktop {
    position: absolute;
    bottom: 34px;
    left: 0;
    background: var(--shaded);
    visibility: hidden;
    opacity: 0;
    border-top: none;
    transition: opacity ease-in 250ms;
    
  }
}

