.container {
  border: 1px solid;
  box-sizing: content-box;
}

.brows .lips .eyelashes {
  border-color: green;
}

.heading {
  background: #000;
  padding: 6px;
  text-align: center;
  box-shadow: inset 0px 0px 9px 1px #ffffff;
}

.description, .enum {
  background: var(--black);
  padding: 10px;
}

.description {
  border-top: 1px solid #fff;
}

