.navigation {
  width: 30px;
  height: 30px;
}

.container {
  position: absolute;
  top: 25%;
  left: 3%;
  width: inherit;
  height: inherit;
}

.list {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  max-width: var(--max-width);
  height: 100vh;
  overflow: hidden;
}