
.button {
  color: inherit;
  padding: 5px 10px 15px;
  font-size: inherit;
  background-color: rgb(2, 13, 46);
  background-image: url(../../public/arrow.svg);
  background-position: bottom;
  background-size: 16px;
  background-repeat: no-repeat;
  border: 1px solid #b3b3b3;
  width: 100%;
}

.content {
  position: relative;
  z-index: -1;
}
