.input {
  display: none;

  &:checked + .field {
    border: 2px solid var(--yellow);
    padding: 5px 12px;
    box-shadow: 0 0 8px 0px #494848;
  }
}

.field {
  padding: 6px 14px;
  font-family: var(--text-font);
  font-size: 1rem;
  text-align: center;
  border: 1px solid #767676;
  border-radius: 7px;
  box-shadow: inset 0 0 8px 0px #494848;
}