.container {
  width: inherit;
  height: inherit;
  background: #121212eb;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 3em 1rem 0;
  font-size: 1.1rem;
  text-shadow: 2px 3px 4px rgb(0 0 0), 4px 4px 4px rgb(0 0 0 / 93%);
}

.element {
  margin: 12px 0;
  background: var(--bg-darkblue);
  border: 1px solid var(--border-beige);
  border-radius: 14px;
  width: 80%;
  position: relative;

  &::after {
    content: attr(content);
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: var(--border-beige);
  }
}

.link {
  display: block;
  padding: 4px 10px;
}

.image {
  padding: 0 1rem;
  margin: auto;
  opacity: 0;
  transition: opacity 1700ms ease-out;
  

  &_open {
    opacity: 1;
  }
}