.container {
  width: inherit;
  height: inherit;
  background: #121212eb;
  display: flex;
  flex-direction: column;
}

.list {
  list-style: none;
  padding: 3em 1rem 0;
  font-size: 1.1rem;
  text-shadow: 2px 3px 4px rgb(0 0 0), 4px 4px 4px rgb(0 0 0 / 93%);
}

.element {
  margin: 12px 0;
  background: #c39b7b78;
  border: 2px solid #c39b7b;
  border-radius: 14px;
  padding: 4px;
  padding-left: 10px;
  width: 80%;
  box-shadow: inset 0 0 3px 1px black;
}

.image {
  padding: 0 1rem;
  margin: auto;
  opacity: 0;
  transition: opacity 1700ms ease-out;
  

  &_open {
    opacity: 1;
  }
}