@use '@/styles/_variables';

.navigation {
  display: none;
  visibility: hidden;
  
  @include variables.desktop {
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 76%;
    font-family: var(--text-font);
    font-size: 1.1rem;
    row-gap: 9px;
  }
}

.link {
  text-align: center;
}