@use '@/styles/_variables';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.header {
  margin-bottom: 10px;

  @include variables.desktop {
    margin-bottom: 30px;
    font-size: 1.9rem;
  }
}

.images {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  @include variables.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--mobile-width), 1fr));
    justify-items: center;
    gap: 10px;
  }
}

.layout {
  position: relative;
  width: inherit;
}

.image {
  border: 2px solid #979797;

  @include variables.desktop {
    width: 524px;
  }
}

.arrows {
  position: absolute;
  top: 0;
  height: 100%;
  width: 43px;
  z-index: 1;

  @include variables.desktop {
    display: none;
  }

  &_left {
    left: 9px;
    background: url('../../public/previous_arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_left:active {
    transform: translateX(-5px);
  }

  &_right {
    left: calc(100% - 52px);
    background: url('../../public/next_arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &_right:active {
    transform: translateX(5px);
  }

  &_disabled {
    display: none;
  }
}