.footer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background: #000;
  padding: 1rem;
}

.adress span{
  font-style: italic;
}

.container {
  margin-bottom: 8px;
}

.contact:hover {
  border-bottom: 1px solid var(--yellow);
}

.groups {
  display: flex;
  width: 100%;
  justify-content: center;
}

.group {
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 2px 0;
  margin: 5px 10px;
  color: var(--yellow);
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: var(--yellow);
  }
}

.logo {
  width: 29px;
  height: 29px;
  margin-right: 4px;

  &_vk {
    background: url(../../public/vk-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &_ig {
    background: url(../../public/ig-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}


