.offer {
  border: 2px dashed var(--yellow);
  margin: 6px;
}

.price, .execution, .link {
  padding: 6px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 47%;
  padding: 3px;
  min-height: 40px;
  font-family: var(--text-font);
  font-size: 0.9rem;
  border-radius: 5px;
  color: #000;
  background: var(--yellow);
  box-shadow: inset 0 0 3px 1px var(--black);
}