@keyframes rotate {
  from {
    transform: rotate(360deg);  
  }

  to {
    transform: rotate(0deg);
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 37px;
  min-height: calc(100vh - 57px);
}

.title {
  text-align: center;
}

.quote {
  font-style: italic;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  position: relative;

  &__parth {
    text-align: end;
  }
}

.logo {
  margin: auto;
}

.about {
  margin-top: 30px;
}

.description {
  list-style: none;
  position: relative;
}

.service {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  overflow: hidden;
  border-radius: 12px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    animation: 6s rotate linear infinite;
    width: 380px;
    height: 380px;
    background: conic-gradient(rgba(255, 255, 255, 0.5019607843),
        rgba(255, 255, 255, 0.2509803922), rgba(255, 255, 255, 0.1882352941),
        rgba(255, 255, 255, 0.1254901961), rgba(255, 255, 255, 0.062745098),
        rgba(255, 255, 255, 0.062745098), rgba(255, 255, 255, 0.5019607843));
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    padding: 1px;
    border-radius: 12px;
    background: linear-gradient(to bottom right, rgba(2, 13, 46, 1),
        rgba(2, 5, 19, 1));
    background-clip: content-box;
  }

}

.link {
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
}