.header {
  padding: 1rem 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.group_header {
  color: var(--yellow);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 8px 19px;
}

.radio {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

.append {
  min-height: 20px;
  font-size: 0.8rem;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  align-self: center;
  font-style: italic;
  color: inherit;
  border: 1px solid silver;
  background: var(--bg-darkblue);
  cursor: pointer;
}

.field {
  padding: 0 8px 4px;
  font-family: var(--text-font);
  font-size: 1rem;

  &:first-of-type {
    margin-top: 30px;
  }
}

.input {
  height: 34px;
  font-size: 1.0rem;
  border-radius: 11px;
  padding: 4px 4px 0;
}

.select {
  color: inherit;
  background: transparent;
  font-family: var(--text-font);

  &>option {
    background: var(--black);
  }
}

.error {
  min-height: 30px;
  color: #ff4949;
  padding-top: 1px;
}

.submit {
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  min-height: 40px;
  background: var(--bg-darkblue);
  width: 60%;
  font-size: 1.4rem;
  margin-top: 32px;
  box-shadow: 1px 6px 9px 0px rgb(0 0 0);
  border-radius: 11px;
  align-self: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    display: block;
    background: var(--yellow);
    height: 3px;
    border-radius: 2px;
    width: 100%;
    transform: rotate3d(0, 0, 1, -45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    display: block;
    background: var(--yellow);
    height: 3px;
    border-radius: 2px;
    width: 100%;
    transform: rotate3d(0, 0, 1, 45deg);
  }
}

.info {
  margin: 2rem 1rem;
  padding: 1rem;
  border: 1px dashed var(--yellow);
}