@use '@/styles/_variables';

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  padding: 13px;
  background: #000;
  z-index: 3;
}

.return {
  display: none;
  font-family: var(--text-font);
  font-size: 1.1rem;
  width: max-content;
  cursor: pointer;

  &:hover {
    color: var(--yellow);
  }

  @include variables.desktop {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: start;
  font-size: 1.8rem;
}

.description {
  align-self: flex-start;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0;
  }

  @include variables.desktop {
    align-self: center;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 280px;
  list-style: none;
}

.button {
  display: block;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  color: #000;
  font-family: var(--text-font);
  font-size: 1.3rem;
  text-align: center;
  border: none;
  border-radius: 12px;
  box-shadow: inset 2px 3px 7px 1px #000000d6;


  &_calendar {
    background: linear-gradient(to bottom right, #7e3b9b, #e7adff);
  }

  &_whatsapp {
    background: linear-gradient(to bottom right, #2c8126, #c3fdbf);
  }

  &_telegram {
    background: linear-gradient(to bottom right, #14a8ff, #a2dcff);
  }

  &_phone {
    background: linear-gradient(to bottom right, #384d87, #bfd0ff);
  }
}